@font-face {
    font-display: swap;
    font-family: 'SourceSansPro-Regular';
    font-style: normal;
    src: url("/fonts/SourceSansPro-Regular.ttf")
}
/*Untilted nii sanotusti*/
body {
    font-size: 20px;
    font-family: SourceSansPro-Regular;
    background: black;
    line-height: 30px;
    letter-spacing: normal;
    color: #ffffffe1;
    scroll-behavior: smooth;
    
}
/*topnav*/
.topnav {
  background-color: #1b1b3a;
  overflow:auto;
  border-radius: 5px;
  min-height: 30px;
  height: auto;
}
.topnav a {
  float: left;
  color: #f7fff7;
  text-align: center;
  padding: 0px 12px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 5px;
}
.topnav img{
  display:flexbox;flex-direction: column;
  padding-top: 8px; padding-right: 3px;
  width: 15px; height: 15px;
  align-content: center;
  filter: invert(70%) sepia(72%) saturate(22%) hue-rotate(323deg) brightness(94%) contrast(86%);
}
.topnav a:hover img{
  filter: invert(0%) sepia(100%) saturate(0%) hue-rotate(233deg) brightness(101%) contrast(100%);
}
.topnav a.active img{
  filter: invert(0%) sepia(100%) saturate(0%) hue-rotate(233deg) brightness(101%) contrast(100%);
}
.topnav .dropdown button.dropbtn{
  display: block;
  min-height: 0px;
  box-shadow: none;
  animation: none;
  transform: none;
}

.topnav button:active{
  background-color: #F7FFF7;
  color: black;
}
.topnav button:hover img{
  filter: invert(0%) sepia(100%) saturate(0%) hue-rotate(233deg) brightness(101%) contrast(100%);
}
.topnav button:active img{
  filter: invert(0%) sepia(100%) saturate(0%) hue-rotate(233deg) brightness(101%) contrast(100%);
}

.topnav a:hover {
  background-color: #F7FFF7;
  transition:cubic-bezier(1,-0.02,.27,1.79) 0.3s;
  color: black;
}

.topnav a.active {
  background-color: #e7e7e7;
  color: #121113;
}
.topnav a.fi{
  float: right;
}
.topnav .flags{
  padding-right: 4px;
  filter: none;
}
.topnav:hover img.flags {
  filter: none;
}
.topnav a.est{
  float: right;
}
.topnav a.eng{
  float:right
}
.dropdown {
  float: left;
  overflow: visible;
  height: 30px;
}
.dropdown .dropbtn{
  font-size: 17px;  
  min-height: 50px;
  border: none;
  outline: none;
  color: white;
  padding: 0px 12px;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(255, 255, 255);
  color: black;
  }

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #1b1b3a;
  background-image: linear-gradient(150deg, #1b1b3a, #000000);
  box-shadow: 4px 5px 5px #1515157a;
  border-radius: 5px;
  z-index: 1;
  animation: growDown 250ms ease-in-out forwards;
  transform-origin: top center ;
}

.dropdown-content a {
  float: none;
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: rgba(221, 221, 221, 0.273);
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown a:hover {background-color: #ddd;}

  .show {display: block;}

/*main*/

.main a {
    transition: 150ms ease;
    font-weight: 600;
    color: #197bbd92;
    text-decoration: none;
    border-bottom: 0 solid transparent
}

.main a:hover {
    color: #2697E3;
    border-bottom: 1px solid #ffffff7e
}

.main .header {
    margin-bottom: 20px
}

.main .body .section {
    margin: 75px 0
}

.main .body .section h2::before {
    position: relative;
    text-align: center;
    display: inline-block;
    color: rgb(255, 255, 255);
    width: 2em;
    margin-left: -2em
}

.main .body .section h3::before {
    position: relative;
    text-align: center;
    display: inline-block;
    color: rgba(255, 255, 255, 0.692);
    width: 2em;
    margin-left: -2em
}
.main {
    width: 950px;
    margin: auto;
    padding: 30px;
   
}
.main h1 {
    line-height: 40px;
    text-align: center;
}

.main h2 {
    color: #ececec;
    text-align: center;
}

.main h3 {
    color: #ececec
}

.main p {
    margin: 1.10em 0;
    font-size: 1em;
}
.disabled{
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
}
/*button*/
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 50px; /* Place the button at the bottom of the page */
    right: 50px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    font: inherit;
    border: none; /* Remove borders */
    outline: none   ; /* Remove outline */
    background-color: #1b1b3a; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 4px; /* Rounded corners */
    font-size: 16px; /* Increase font size */
    box-shadow: 4px 5px 5px #151515;
    padding: 12px 20px;
  }
  
  #myBtn:active {
    box-shadow: 0 2px 0 #1b1b3a; /* Add a dark-grey background on hover */
    transform: translateY(3px);
    transition: all 0.1s linear;
  }
  button {
    border: 0;
    background: #1b1b3a;
    border-radius: 4px;
    box-shadow: 4px 5px 5px #151515;
    color: #fff;
    cursor: pointer;
    font: inherit;
    margin: 0;
    outline: 0;
    padding: 12px 20px;
    transition: all .1s linear;
}
  button:active {
    box-shadow: 0 2px 0 #1b1b3a;
    transform: translateY(3px);
}
/*timeline*/

  /* The actual timeline (the vertical ruler) */
  .timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
  }
  
  /* The actual timeline (the vertical ruler) */
  .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #1b1b3a;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  /* Container around content */
  .container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
    box-sizing: border-box;
  }
  
  /* The circles on the timeline */
  .container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -15px;
    background-color: #1b1b3a;
    border: 2px solid #ffffff;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
    box-sizing: border-box;
  }
  
  /* Place the container to the left */
  .left {
    left: 0;
    box-sizing: border-box;
  }
  
  /* Place the container to the right */
  .right {
    left: 50%;
    box-sizing: border-box;
  }
  
  /* Add arrows to the left container (pointing right) */
  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid #1b1b3a;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #1b1b3a;
    box-sizing: border-box;
  }
  
  /* Add arrows to the right container (pointing left) */
  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid rgb(255, 255, 255);
    border-width: 10px 10px 10px 0;
    border-color: transparent #1b1b3a transparent transparent;
    box-sizing: border-box;
  }
  
  /* Fix the circle for containers on the right side */
  .right::after {
    left: -16px;
    box-sizing: border-box;
  }
  
  /* The actual content */
  .content {
    padding: 20px 30px;
    background-color: #1b1b3a;
    position: relative;
    border-radius: 6px;
    box-sizing: border-box;
  }

  
  /* Media queries - Responsive timeline on screens less than 600px wide */
  @media screen and (max-width: 600px) {
  /* Place the timelime to the left */
    .timeline::after {
      left: 31px;
    }
  
  /* Full-width containers */
    .container {
      width: 100%;
      padding-left: 70px;
      padding-right: 25px;
    }
  
  /* Make sure that all arrows are pointing leftwards */
    .container::before {
      left: 60px;
      border: medium solid white;
      border-width: 10px 10px 10px 0;
      border-color: transparent white transparent transparent;
    }
  
  /* Make sure all circles are at the same spot */
    .left::after, .right::after {
      left: 15px;
    }
  
  /* Make all right containers behave like the left ones */
    .right {
      left: 0%;
    }
  }
  
  /*footer*/
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    border-radius: 5px;
    text-align: left;
    background-color: #1B1B3A;
    overflow: hidden;
    line-height: 2px;
    font-size: small;
}
.footer p{
    margin-left: 10px;
}
 /*media*/ 
 @media screen and (max-width: 1000px) {
  .main{
      width: 85%;
      min-width: 0;
  }
}

@media screen and (max-width: 600px) {
    .main .body .section h2::before {
        display: inline-block;
    }
    .main p {
        font-size: 0.9em;
    }
}

@keyframes growDown {

  0% {

    transform: scaleY(0)

  }

  80% {

    transform: scaleY(1.1)

  }

  100% {

    transform: scaleY(1)

  }

}
